/* Title font */
h1 {
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  font-size: 4vw;
  font-weight: lighter;
  letter-spacing: 4px;
  font-variant: small-caps
  color: goldenrod;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div.normalDiv {
  margin-top: 10px;
}

div.marginDiv {
  margin-top: 40px;
}

p {
  margin-bottom: 1em;
}

/* Slide Shows */
img.campSlidex {
  display:none;
}

html, body, #body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

#body {
  background-color: white;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
}

#header {
  overflow: visible;
  background-color: black;
  color: goldenrod;
  flex: 0 0 auto;
  flex-direction: row;
  z-index: 100;
}

#content {
  background-color: white;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  margin: 8px;
}

#logo {
  margin: 6px;
  float: left;
  width: 74px;
  height: 120px;
  flex: auto;
  background: url(../img/coyote-medium.png) no-repeat center;
}

#menu {
  flex: auto;
}


@media screen and (max-width: 710px) {
  #logo {
    margin: 3px;
    width: 45px;
    height: 72px;
    background: url(../img/coyote-small.png) no-repeat center;
  }
}

#homeimg {
   width: 100%;
   height: auto;
   top: 0;
   padding: 0;
   left: 0;
   margin: 0;
}
